/* login.css */

/* General styles */


#header-placeholder {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Content Wrapper */
.content-wrapper {
    flex: 1; /* Makes this div expand to fill available space */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
}

/* Center the form */
#login-form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: #2a2a2a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Style the input fields */
#login-form input[type="text"],
#login-form input[type="password"],
#login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #1a1a1a;
    border: 1px solid #555;
    border-radius: 5px;
    color: #e0e0e0;
    font-size: 1rem;
}

/* Style the submit button */
#login-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #444;
    color: #e0e0e0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

#login-form button[type="submit"]:hover {
    background-color: #555;
}

/* Placeholder text color */
#login-form input::placeholder {
    color: #aaa;
}

.sign-in-links {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.sign-in-links a {
    color: #e0e0e0;
    text-decoration: none;
}

.sign-in-links a:hover {
    text-decoration: underline;
}

.form-links {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.form-links a {
    color: #e0e0e0;
    text-decoration: none;
}

.form-links a:hover {
    text-decoration: underline;
}