
/*
main {
    padding: 2rem;
  }
  
  section {
    background-color: #fff;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: black;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
  }

  */