<!-- Footer -->
<footer class="site-footer">
  <div class="footer-content">
    <div class="footer-about">
      <h3>About Reptile Universe</h3>
      <p>We are dedicated to connecting people with healthy, well-cared-for reptiles that make wonderful companions. Our passion drives us to ensure that each reptile finds a loving home, and we strive to make reptile ownership accessible and rewarding for everyone.</p>
    </div>
    <div class="footer-links">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="list.html">Adoptions</a></li>
        <li><a href="list.html">Forms</a></li>
      </ul>
    </div>
    <div class="footer-contact">
      <h3>Contact Us</h3>
          <h4>Phone:</h4> 
          <a href="tel:4068992633">(406) 899-2633</a>
          <h4>Email:</h4> 
          <a href="mailto:reptileuniverse@yahoo.com">reptileuniverse@yahoo.com</a>
      <div class="social-media">
        <a href="https://www.facebook.com/profile.php?id=100064250825243"><i class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/reptileuniversemt/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.tiktok.com/@reptile.universe"><i class="fab fa-tiktok"></i></a>
      </div>
    </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 All Rights Reserved | Reptile Universe</p>
    <p>&copy; 2025 LEN Creative. All rights reserved.</p>
  </div>
</footer>
